* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors*/
  --LAKERSPURPLE: #552583;
  --LAKERSGOLD: #fdb927;
  --LAKERSBLACK: #000;
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}


